.Login-body {
    background-color: #FFFFFF;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: calc(10px + 2vmin);
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.Form-container {
    flex: 0 0 100%;
}

.Login-text-field {
    margin-top: 5px;
    margin-bottom: 5px;
}


.Login-button-container {
    margin-top: 7px;
    margin-bottom: 5px;
}


