.header-button {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.column-container {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

.center-align-container {
    text-align: center;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.col-container {
    display: flex;
    flex-direction: column;
}

.user-profile-details-row {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-right:40px;
}

.sm-icon-padded {
    padding-top: 18px;
    padding-right: 7px;
    color: dimgrey;
}

.smaller-icon-padded {
    padding-top: 4px;
    padding-right: 7px;
    color: dimgrey;
}

.icon-smaller {
    font-size: 15px;
}

.ep-container {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 50px;
    padding-bottom: 150px;
}

.ep-h3-text {
    color: #2D9CDB;
}

.add-circle-button {
    font-size: 22px;
    padding-top: 21px;
    margin-left: 25px;
    cursor: pointer;
    color: dimgrey;
}

.skills-chip {
    margin-left: 5px;
    margin-right: 5px;
}

.ep-course-heading {
    margin: 3px 0px 3px 0px;
    font-size: 12px;
}

.italicised {
    font-style: italic;
}

.navbar-root {
    flex-grow: 1;
}

.search-inline {
    display: inline-block;
    padding-top: 40px;
}

.search-button-group {
    height: 56px;
    margin-top: 15px;
}

.search-message {
    float: left;
    font-style: normal;
    margin-bottom: 10px;
}

.search-card-title {
    margin: 10px 0px 10px 0px;
    float: left;
    text-decoration: none;
}

.search-card-a {
    text-decoration: none;
    color: #2D9CDB;
}

